
<div class="panel panel-primary">
  <div class="panel-heading">
    Add Actor
  </div>
  <div class="panel-body">
     <form class="form-horizontal"
     novalidate
     (ngSubmit)="saveActor()"
     [formGroup]="ActorForm">
     <fieldset>
      <div class="form-group"
      [ngClass]="{'has-error':(ActorForm.get('Nume').touched || ActorForm.get('Nume').dirty)&& !ActorForm.get('Nume').valid}">
      <label class="col-md-2 control-label"
      for="NumeId">Nume Actor</label>


        <div class="col-md-8">
          <input class="form-control"
            id="NumeId"
            type="text"
            placeholder="Nume Actor(required)"
           formControlName="Nume" />
            <span class="help-block" *ngIf="(ActorForm.get('Nume').touched || ActorForm.get('Nume').dirty) && ActorForm.get('Nume').errors">
          <span *ngIf="ActorForm.get('Nume').errors.required">
            Campul Nume Actor  e obligatori *
          </span>
            <span *ngIf="ActorForm.get('Nume').errors.minlength">
             Campul Nume Actor trebuie sa contina minim 3 caractere
            </span>
          </span>
          </div>
        </div>

        <div class="form-group"
        [ngClass]="{'has-error':(ActorForm.get('Data_Nasterii').touched || ActorForm.get('Data_Nasterii').dirty)&& !ActorForm.get('Data_Nasterii').valid}">
        <label class="col-md-2 control-label"
        for="Data_Nasterii">Data Nasterii</label>
  
  
          <div class="col-md-8">
            <input class="form-control"
              id="Data_NasteriiID"
              type="text"
              placeholder="Data_Nasterii (required)"
              
             formControlName="Data_Nasterii" />
              <span class="help-block" *ngIf="(ActorForm.get('Data_Nasterii').touched || ActorForm.get('Data_Nasterii').dirty) && ActorForm.get('Data_Nasterii').errors">
            <span *ngIf="ActorForm.get('Data_Nasterii').errors.required">
              Campul  Anul Nasterii este  obligatoriu !
            </span>
             
              <span *ngIf="ActorForm.get('Data_Nasterii').errors.minlength">
                Anul trebuie sa contina 4 caractere ex: 2010
              </span>
              <span *ngIf="ActorForm.get('Data_Nasterii').errors.max">
                Anul maxim de nastere e 2000
              </span>
              <span *ngIf="ActorForm.get('Data_Nasterii').errors.min">
                Anul minim de productie e 1900
              </span>
              <span *ngIf="ActorForm.get('Data_Nasterii').errors.pattern">
                Anul nasterii trebuie sa contina doar numere  ex: 2010
              </span>
             
              
              
            </span>
            </div>
          </div>

          <div class="form-group"
          [ngClass]="{'has-error':(ActorForm.get('img').touched || ActorForm.get('img').dirty)&& !ActorForm.get('img').valid}">
          <label class="col-md-2 control-label"
          for="imgId">URL Imagine </label>
    
    
            <div class="col-md-8">
              <input class="form-control"
                id="imgId"
                type="text"
                placeholder="URL Imagine(required)"
                formControlName="img" />
                <span class="help-block" *ngIf="(ActorForm.get('img').touched || ActorForm.get('img').dirty) && ActorForm.get('img').errors">
              <span *ngIf="ActorForm.get('img').errors.required">
                Campul Imagine  este obligatoriu *
              </span>
                
                <span *ngIf="ActorForm.get('img').errors.pattern">
                  Campul trebuie sa contina o adresa URL Valida ex Http://
                </span>
              </span>
              </div>
            </div>

      

        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <span>
              <button class="btn btn-primary"
              type="submit"
              [disabled]="!ActorForm.valid">
              save Actor
              </button>
            </span>
          </div>
        </div> 
        
        
        </fieldset>
        </form>
        </div>
</div>


